* {
    font-family: arial, tahoma, verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, tahoma, verdana, sans-serif;
    font-size: 13px;
    color: #000;
}

div, p, img, a, td, ul, ol {
    
}

a, img { 

outline: none;
outline: 0;  

}

a:focus{ 

outline: none;
outline: 0;  

}

select:focus{ 

outline: none;
outline: 0;  
}

select{ 
  outline: none;
  outline: 0;  
  text-shadow: 0 0 0 #000;
  padding:2px 0 2px 8px;
}

select:active{ 
  outline: none;
  outline: 0;  
}

option{ 
  color:#000;
}


img:focus{ 
  outline: none;
  outline: 0;  
}

ol {
    
}
ol li {
    
}
h1, h4 {
	
}

h1 { 
  padding: 0px;
  margin: 0px;
  font-size: 17px;
}

h2 { 
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}

h3 { 
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

h4 { 

}

p {
  padding: 2 0 2 0px;
  margin:0px;
}

a, a:link { 
  color: #0057a0;
}

a:hover { 

}


a img, img {
    border: none;
}

ul,ol {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

li {
line-height: 12px;
}

table.maxtable{
  width: 100%;
  height: 100%;
  border-width: 0px; 
  border-collapse: collapse;  
  vertical-align: top;
}


html,body{
height:100%;
margin:0px;
padding:0px
}

