#usermenu_ul li{
  padding-left:5px;
}

#usermenu_ul li a{
  padding-left:25px;
  font-size:13px;
  color:#204a87;
  font-weight:bold;
}


#usermenu_ul li a:hover{
  color:#fff;
}


#usermenu_myobj{
  background-repeat: no-repeat;
  color:gray; 
}




.categ_td{
  width:90px;
  border: 1px #babdb6 dotted;
  padding: 2px !important;
  vertical-align: top;
}

.categ_td a{
  font-weight:bold;
  line-height:16px;
}



.categ_td a div{
padding-left:2px;
padding-right:2px;
}

.categ_td a table tr td img{
  width:97px; 
  height:97px;
}


.categ_td a .categ_td_text div{
  pading:2px;
  padding-left:2px;
  padding-right:2px;
  font-size:14px;
}


.categ_td a:hover .categ_td_text div{
  background-color:rgb(0, 87, 160);
  color:#fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}





.b_add_legend_bottom{
 padding:4px;
 background: #eeeeec;
 -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.b_add_legend_bottom input{
  width:500px !important;
  margin-bottom:5px !important;
}



.b_add_legend_bottom select{
  width:500px !important;
  margin-bottom:5px !important;
}

.b_add_legend_bottom textarea{
  width:500px !important;
  height:150px !important;
  margin-bottom:5px !important;
}


.b_add_legend_bottom_text{
  font-size:12px;
  color:#888a85;
  padding-left:5px;
}

.b_add_legend{
  width:200px;
  vertical-align:top;
  text-align:right;
  padding-right:10px !important;
  font-weight:bold;
  padding-top:7px;
}

.b_add_legend span{
  color:#f00;
  padding-left:3px;
}

.td_b_add_input{
width:520px;
vertical-align:top;
}

.b_add_question{

}

.b_add_question img{
  width:36px; 
  height:36px;
}

.b_add_question img:hover{
}



.b_add_tooltip{
  background:#D2E1F1;
  padding:4px;
  position:absolute; 
  width:228px;
  display:inline;
  margin-left:15px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #c2e1f5; 
  font-size:13px;
}






.arrow_box { 
position: relative; 
background:#D2E1F1;
border: 1px solid #c2e1f5; } 

.arrow_box:after, .arrow_box:before { 
left: -23px; 
top: 7px; 
border: solid transparent; 
content: " "; 
height: 0; 
width: 0; 
position: absolute; 
pointer-events: none; } 

.arrow_box:after { 
border-color: rgba(136, 183, 213, 0); 
border-right-color: #D2E1F1; 
border-width: 10px; 
margin-top: -10px; } 

.arrow_box:before { 
border-color: rgba(194, 225, 245, 0); 
border-right-color: #c2e1f5; 
border-width: 11px; 
margin-top: -11px; }








.b_add_legend_bottom:focus .b_add_tooltip{
  display:block;
}

ul.b_add_tooltip_list{
  margin-left:15px;
}



.a__cat_a_select div.div_cat_name_select{
  padding:1px;
}


.a__cat_a_select:hover div.div_cat_name_select{
  background-color:rgb(0, 87, 160);
  color:#fff;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}


.rubr_item{
 font-size:13px;
 -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding-left:10px; margin:1px; width:300px;
}

.rubr_item:hover{
  background:#729fcf;
  cursor: pointer;
}

.rubr_item_selected{
  background:#729fcf;
}










.rubr_item_lvl2{
 font-size:13px;
 -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding-left:10px; margin:1px; width:300px;
}

.rubr_item_lvl2:hover{
  background:#729fcf;
  cursor: pointer;
}

.rubr_item_lvl2_selected{
  background:#729fcf;
}






.rubr_item_lvl3{
 font-size:13px;
 -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding-left:10px; margin:1px; width:300px;
}

.rubr_item_lvl3:hover{
  background:#729fcf;
  cursor: pointer;
}

.rubr_item_lvl3_selected{
  background:#729fcf;
}





.header_cat_selector_1{
font-size:16px; 
font-weight:bold; 
border-bottom: 1px solid gray; 
padding-left:10px;
}


.header_cat_selector_2{
font-size:16px; 
font-weight:bold; 
border-bottom: 1px solid gray; 
padding-left:10px;
}

.header_cat_selector_3{
font-size:16px; 
font-weight:bold; 
border-bottom: 1px solid gray; 
padding-left:10px;
}


div.get_rubric_selector{
  color:#204a87;
  font-weight:bold;
  padding-left:
  vertical-align: top;
  display:inline;
}




a{
  outline: 0px !important;
} 


#yw42 .tab-pane{
border:1px #DDD solid;
border-top:0px;
margin: 0px !important;
padding:10px;
}





.account_obj_item{
  border: 1px #DDD solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding:4px;
  margin-bottom:5px;
}



.account_obj_item_edita{
  padding-left:4px;
}

.account_obj_item_edita a{
  font-size:12px;
  margin-right:7px;
}

.account_obj_item_edita a:hover{
  text-decoration:none;
}

.account_obj_item_edita a span{
  padding:2px;
  
  padding-left:4px;
  padding-right:4px;
  margin-left:1px;
}


.account_obj_item_edita a:hover span{
  background-color: #08C;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color:#fff;
}

#fn__get_category_block_in_cat_top{
  border:1px #d3d7cf solid;
  padding:10px;
  background-color:#f3f3f3;
  
-webkit-border-top-left-radius: 9px;
-webkit-border-top-right-radius: 9px;
-moz-border-radius-topleft: 9px;
-moz-border-radius-topright: 9px;
border-top-left-radius: 9px;
border-top-right-radius: 9px;
}

.top_cat_title{
  font-size:18px;
  font-weight:bold;
}

.top_cat_count{
font-size:13px;
color:#888a85;
}







#brd_item_breadcrumbs{
  background-color: #eeeeec;
  padding:4px;
  border-radius:9px;
}

#brd_item_breadcrumbs a{
  font-size:13px;
  color: #3465a4;
}


#brd_item_breadcrumbs a:hover{
  text-decoration:none;
}

#brd_item_breadcrumbs a span{
  padding:2px;
  padding-left:4px;
  padding-right:4px;
}


#brd_item_breadcrumbs a:hover span{
  background-color: #3465a4;
  border-radius:5px;
  color:#fff;
}




input[type="checkbox"]:focus {
  outline:0px;
  border:0px;
}





.album_img_container_inner{
  background:#f3f3f3;
}



.album_img_container_inner{
  text-align:center;
  padding:5px;
}

.album_img_container_inner img{
  max-width:600px;
}




.priceblock{
  background-color: rgba(255, 234, 0, 1); 
  border-radius: 10px; 
  padding: 10px;
  height: 40px;
  vertical-align: middle;
  font-size: 26px;
  font-weight: bold;
  padding-top: 25px;
  text-align: center;
}



#ddmenucat{
text-align:left;min-width: 200px;
}

#ddmenucat li a{
  max-width:250px;
  overflow:hidden;
}


.stxt{
  padding:10px;
  color: #9B9B9B;
}



.main_welcome_list_item{
font-size: 16px;
padding-left: 25px;
margin-left: 10px;
color: #4E4E4E;
background-image: url('/themes/board/img/ico/apply_8023.png');
background-repeat: no-repeat;
background-position: 0px 3px;
margin-top: 9px;
}



#main_districrs div{
float: left;
font-size: 15px;
margin: 5px;
width: 230px;
}



.image_40x40{
height:40px; 
width:40px;
}


.form_element_message {
 color:#888a85;
}
.form_element_error_message{
color:#f00;
}












.dropdown-submenu{
    position:relative;
}
 
.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
 
.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}
 
.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
 
.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}
 
.dropdown-submenu .pull-left{
    float:none;
}
 
.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.table_game{
  width: 200px;
  height: 200px;
  margin: 0px auto;
}

.table_game tr td{
  width:33%;
  height:33%;
  text-align:center;
  vertical-align:center;
  cursor:pointer;
}



.gamealert{

}

.step_status{
  display:none;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}

#step_status_1{
  color: #087208;
}

#step_status_0{
  color: #204a87;
}
