table.struct_maintable{
 background-image: url('/themes/board/img/struct/bg/bg.jpg');
 background-repeat: repeat-x;
 background-color: #d2c9a8;
}


table.struct_maintable_1{
  background-color:#fff; 
  


  -webkit-box-shadow: 1px 1px 15px rgba(50, 50, 50, 0.96);
  -moz-box-shadow:    1px 1px 15px rgba(50, 50, 50, 0.96);
  box-shadow:         1px 1px 15px rgba(50, 50, 50, 0.96);
  
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  
}

table.struct_maintable_1 td{
padding-left:3px;
padding-right:3px;
}


td.struct_maintable_1_header{
  height:60px;
  padding-top:3px;
}

td.td_logo{
  padding-left:13px;
  width:200px;
  padding-top:5px;
}

td.td_logo a{
  text-decoration:none;
  margin:0px;
  padding:0px;
}

#logodiv{
  text-shadow: 0 -1px 0 #ccc,
               0 -2px 0 #c9c9c9,
               -1px -3px 0 #bbb,
               -2px -4px 0 #b9b9b9,
               -3px -5px 0 #aaa,
               -4px -6px 1px rgba(0,0,0,.1),
               -4px 0 5px rgba(0,0,0,.1),
               -1px -1px 3px rgba(0,0,0,.3),
               -2px -3px 5px rgba(0,0,0,.2),
               -3px -5px 10px rgba(0,0,0,.25),
               -3px -10px 10px rgba(0,0,0,.2);
               

font-size:52px; 
font-weight:bold;
padding-left:10px;
line-height:60px;

}

#logodivbottom{
  text-align:right;
  
}

#logodivbottom span{
  line-height:13px;
  background-color:#3465a4; 
  background-color: rgb(66, 139, 202);
  color:#fff; 
  padding:2px;
  padding-left:3px;
  padding-right:3px;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

-webkit-box-shadow: -3px -3px 4px rgba(50, 50, 50, 0.39);
-moz-box-shadow:    -3px -3px 4px rgba(50, 50, 50, 0.39);
box-shadow:         -3px -3px 4px rgba(50, 50, 50, 0.39);

  font-size:13px;
}



.input_bootstrap{
height: 24px !important;
padding: 3px !important;
}

.table_options{
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    border: 2px solid white;
}

.table_options tr td{
  border: 1px gray dotted;
}
